[keyboard]
enter=["switch", "s_start"]
#Flippers
z=["switch", "s_flipper_left"]
comma=["switch", "s_flipper_right"]
#lower third (inlanes, outlanes, slings, plunger lane)
a=["switch", "s_outlane_left"]
s=["switch", "s_inlane_left"]
d=["switch", "s_slingshot_left"]
h=["switch", "s_slingshot_right"]
j=["switch", "s_inner_inlane_right"]
k=["switch", "s_outer_inlane_right"]
l=["switch", "s_outlane_right"]
v=["switch", "s_plunger_lane"]
#targets
z=["switch", "s_i_iceman_target"]
x=["switch", "s_c_iceman_target"]
c=["switch", "s_e_iceman_target"]
m=["switch", "s_m_iceman_target"]
n=["switch", "s_a_iceman_target"]
b=["switch", "s_n_iceman_target"]
r=["switch", "s_l_lock_target"]
t=["switch", "s_o_lock_target"]
y=["switch", "s_c_lock_target"]
u=["switch", "s_k_lock_target"]
e=["switch", "s_barrier_target"]
i=["switch", "s_flight_gear_target"]
#ramps
#main shots
q=["switch", "s_lane_left"]
w=["switch", "s_orbit_left"]
8=["switch", "s_bumper_left"]
9=["switch", "s_bumper_center"]
0=["switch", "s_bumper_right"]
1=["switch", "s_trough_1"]
2=["switch", "s_trough_2"]
3=["switch", "s_trough_3"]
4=["switch", "s_trough_4"]
5=["switch", "s_trough_5"]
6=["switch", "s_trough_6"]

[sound_system]
music={"type": "solo"}
effects={"type": "simultaneous", "simultaneous_sounds": 3, "default": true}
voice={"type": "sequential"}
