#config_version=6

##############################################################################
# ATTRACT MODE
# Added stop/start events for custom service mode
##############################################################################
mode:
  start_events: game_ended, machine_reset_phase_3, mode_top_gun_service_stopped
  stop_events: game_starting, mode_top_gun_service_started
  priority: 10

mode_settings:
  selectable_items:
    - title
    - presented_by
    - hotrod_pinball_logo
    - mpf_logo
    - credits
    - last_scores_1p{machine.player1_score and not machine.player2_score}
    - last_scores_2p{machine.player2_score and not machine.player3_score}
    - last_scores_3p{machine.player3_score and not machine.player4_score}
    - last_scores_4p{machine.player4_score}
  next_item_events: s_flipper_right_active, timer_attract_carousel_timer_complete
  previous_item_events: s_flipper_left_active

slide_player:
  mode_attract_started: attract

sound_player:
  mode_attract_started:
    top_gun_pinball_attract_scene_music:
      bus: music
      loops: -1

# Kick off the chained cycle
event_player:
  mode_attract_started: attract_cycle_step1

##############################################
## Start Button LED - Slow flash in attract mode
##############################################
coil_player:
  # Stop flashing (turn off) when attract mode ends
  mode_attract_stopping:
    c_start_button_led:
      action: disable

show_player:                                            # Light Shows being played
  # Start button slow flash during attract
  mode_attract_started:
    start_button_flash:
      show: start_button_slow_flash
      loops: -1
      priority: 100

  attract_cycle_step1:
    attract_corners_sweep:
      loops: 1
      speed: 40
      priority: 200
      events_when_completed: attract_cycle_step2 

  attract_cycle_step2:
    attract_spiral_in_and_out:
      loops: 4
      speed: 40
      priority: 200
      events_when_completed: attract_cycle_step3

  attract_cycle_step3:
    attract_color_plus_spin:
      loops: 1
      speed: 40
      priority: 200
      events_when_completed: attract_cycle_step4

  attract_cycle_step4:
    attract_insert_color_bounce:
      loops: 4
      speed: 40
      priority: 200
      events_when_completed: attract_cycle_step5

  attract_cycle_step5:
    attract_chase_all_inserts:
      loops: 5
      speed: 85
      priority: 200
      events_when_completed: attract_cycle_step6

  attract_cycle_step6:
    attract_color_wheel:
      loops: 5
      speed: 40
      priority: 200
      events_when_completed: attract_cycle_step1

  # Clean stop on mode end
  mode_attract_stopping:
    attract_corners_sweep: stop
    attract_spiral_in_and_out: stop
    attract_color_plus_spin: stop
    attract_insert_color_bounce: stop
    attract_chase_all_inserts: stop
    attract_color_wheel: stop
    start_button_flash: stop

timers:
  attract_carousel_timer:
    end_value: 1
    tick_interval: 7s
    start_running: true
    control_events:
      - event: carousel_item_highlighted
        action: restart
      - event: flipper_cradle
        action: stop
      - event: flipper_cradle_release
        action: restart

##############################################
## SHOWS - Start Button Flash
##############################################
shows:
  # Slow flash for start button LED (1 second on, 1 second off)
  start_button_slow_flash:
    - duration: 1s
      coils:
        c_start_button_led: enable
    - duration: 1s
      coils:
        c_start_button_led: disable