#config_version=6

config:
  - config_autofire_coils.yaml
  - config_ball_devices.yaml
  - config_coils.yaml
  - config_flippers.yaml
  - config_hardware_fast.yaml
  - config_lights.yaml
  - config_switches.yaml
  - variable_player.yaml
  - config_videos.yaml

modes:
  - 2x_playfield
  - attract
  - base
  - battle_jester
  - bonus
  - bumpers
  - goose_letters
  - iceman_letters
  - mach_scoring
  - mig_letters
  - rescue_cougar
  - rise_of_phoenix
  - skillshot
  - pilot_mission_qualifier

player_vars:
  mach_level:
    initial_value: 1.0
    value_type: float
  mach_step:
    initial_value: 0
    value_type: int

playfields:
  playfield:
    default_source_device: bd_plunger
    enable_ball_search: true
    ball_search_timeout: 15s
    ball_search_wait_after_iteration: 10s
    ball_search_interval: 250ms
    tags: default

machine:
  balls_installed: 6
  min_balls: 1

game:
  balls_per_game: 3
  max_players: 4

virtual_platform_start_active_switches:
  - s_trough_1
  - s_trough_2
  - s_trough_3
  - s_trough_4
  - s_trough_5
  - s_trough_6

event_player:
  player_turn_started{number==1}: ui_player_1_up
  player_turn_started{number==2}: ui_player_2_up
  player_turn_started{number==3}: ui_player_3_up
  player_turn_started{number==4}: ui_player_4_up

bcp:
  connections:
    local_display:
      type: mpf.core.bcp.bcp_socket_client.BCPClientSocket
      host: localhost
      port: 5050
      required: true
      exit_on_close: true

logging:
  loggers:
    mpf.core.events: debug
    mpf.core.config_player: debug
    mpf.core.assets: debug
    mpf.core.asset_manager: debug
    mpf.plugins.sound: debug