#config_version=6

####################################################################################
# SERVICE MODE SLIDE & SOUND CONFIGURATION
# Add this to your config.yaml or create config_service.yaml and include it
####################################################################################
#
# If creating a separate file, add to config.yaml:
#   config:
#     - config_service.yaml
#
####################################################################################

####################################################################################
# SLIDE PLAYER - Map MPF events to Godot slides
####################################################################################

slide_player:
  # ----------------------------------------------------------------------------------
  # MAIN SERVICE MENU
  # ----------------------------------------------------------------------------------
  
  # Show main service menu when entering service mode
  service_mode_entered:
    service_menu:
      action: play
      priority: 10000

  # Remove service menu when exiting
  service_mode_exited:
    service_menu:
      action: remove
    service_switch_test:
      action: remove
    service_coil_test:
      action: remove
    service_light_test:
      action: remove
    service_adjustments:
      action: remove
    service_audits:
      action: remove
    service_utilities:
      action: remove

  # ----------------------------------------------------------------------------------
  # DIAGNOSTICS - SWITCH TEST
  # ----------------------------------------------------------------------------------
  
  service_switch_test_start:
    service_menu:
      action: remove
    service_switch_test:
      action: play
      priority: 10000

  service_switch_test_stop:
    service_switch_test:
      action: remove
    service_menu:
      action: play
      priority: 10000

  # ----------------------------------------------------------------------------------
  # DIAGNOSTICS - COIL TEST
  # ----------------------------------------------------------------------------------
  
  service_coil_test_start:
    service_menu:
      action: remove
    service_coil_test:
      action: play
      priority: 10000

  service_coil_test_stop:
    service_coil_test:
      action: remove
    service_menu:
      action: play
      priority: 10000

  # ----------------------------------------------------------------------------------
  # DIAGNOSTICS - LIGHT TEST
  # ----------------------------------------------------------------------------------
  
  service_light_test_start:
    service_menu:
      action: remove
    service_light_test:
      action: play
      priority: 10000

  service_light_test_stop:
    service_light_test:
      action: remove
    service_menu:
      action: play
      priority: 10000

  # ----------------------------------------------------------------------------------
  # ADJUSTMENTS MENU
  # ----------------------------------------------------------------------------------
  
  service_settings_start:
    service_menu:
      action: remove
    service_adjustments:
      action: play
      priority: 10000

  service_settings_stop:
    service_adjustments:
      action: remove
    service_menu:
      action: play
      priority: 10000

  # ----------------------------------------------------------------------------------
  # AUDITS MENU
  # ----------------------------------------------------------------------------------
  
  service_audits_menu_selected:
    service_menu:
      action: remove
    service_audits:
      action: play
      priority: 10000

  service_audits_menu_deselected:
    service_audits:
      action: remove
    service_menu:
      action: play
      priority: 10000

  # ----------------------------------------------------------------------------------
  # UTILITIES MENU
  # ----------------------------------------------------------------------------------
  
  service_utilities_menu_selected:
    service_menu:
      action: remove
    service_utilities:
      action: play
      priority: 10000

  service_utilities_menu_deselected:
    service_utilities:
      action: remove
    service_menu:
      action: play
      priority: 10000

####################################################################################
# SOUND PLAYER - Silence game music during service mode
####################################################################################

sound_player:
  # Silence all music when entering service mode
  service_mode_entered:
    silence:
      bus: music
      loops: 0

  # Note: Base music will restart naturally when attract or base mode starts
  # after exiting service mode, so no explicit restart is needed here

####################################################################################
# LIGHT PLAYER - Optional: Turn on all GI during service mode
####################################################################################

light_player:
  # Turn GI to full white for better visibility during service
  service_mode_entered:
    l_gi_light_1: white
    l_gi_light_2: white
    l_gi_light_3: white
    l_gi_light_4: white
    l_gi_light_5: white
    l_gi_light_6: white
    l_gi_light_7: white
    l_gi_light_8: white
    l_gi_light_9: white
    l_gi_light_10: white
    l_gi_light_11: white
    l_gi_light_12: white
    l_gi_light_13: white
    l_gi_light_14: white
    l_gi_light_15: white
    l_gi_light_16: white
    l_gi_light_17: white
    l_gi_light_18: white
    l_gi_light_19: white
    l_gi_light_20: white
    l_gi_light_21: white
    l_gi_light_22: white
    l_gi_light_23: white
    l_gi_light_24: white
    l_gi_light_25: white
    l_apron_light_1: white
    l_apron_light_2: white
    l_apron_light_3: white
    l_apron_light_4: white
    l_gi_light_pop_left: white
    l_gi_light_pop_right: white
    l_gi_light_pop_bottom: white

  # Note: GI will return to normal when base mode starts after exiting service