#config_version=6

# Number Format: I/O board name then number on the board.  EX: playfield_board_lower-3
# Label: What will show up in service mode
# Coils Available
  # Playfield Board Lower - All Used
  # Playfield Board Upper - All Used

coils:

# Flippers
  c_flipper_left:
    number: playfield_board_lower-3                       
    allow_enable: true
    default_pulse_ms: 75          # duration the coil is activated
    default_pulse_power: 1     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.125     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 50             # suggested to start at about 2x the ms power
  c_flipper_left_upper:
    number: playfield_board_upper-0
    allow_enable: true
    default_pulse_ms: 40         # duration the coil is activated
    default_pulse_power: 0.625     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.125     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 40              # suggested to start at about 2x the ms power
  c_flipper_right:
    number: playfield_board_lower-2
    allow_enable: true
    default_pulse_ms: 75         # duration the coil is activated
    default_pulse_power: 1     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.125     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 40              # suggested to start at about 2x the ms power
  
  # Trough and plunger
  c_trough_eject:
    number: playfield_board_lower-0
    default_pulse_ms: 25         # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 20              # suggested to start at about 2x the ms power
  c_plunger:
    number: playfield_board_lower-1
    default_pulse_ms: 25          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 20              # suggested to start at about 2x the ms power

# Sling Shots and Pop Bumpers
  c_sling_left:
    number: playfield_board_lower-5
    default_pulse_ms: 40          # duration the coil is activated
    default_pulse_power: 0.875     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Left Slingshot"
    tags: [sling, playfield]
  c_sling_right:
    number: playfield_board_lower-4
    default_pulse_ms: 40         # duration the coil is activated
    default_pulse_power: 0.875     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Right Slingshot"
    tags: [sling, playfield]
  c_bumper_left:
    number: playfield_board_upper-5
    default_pulse_ms: 40          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Left Pop Bumper"
    tags: [pop bumper, playfield]
  c_bumper_right:
    number: playfield_board_upper-4
    default_pulse_ms: 40          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Right Pop Bumper"
    tags: [pop bumper, playfield]
  c_bumper_center:
    number: playfield_board_upper-3
    default_pulse_ms: 40         # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Center Pop Bumper"
    tags: [pop bumper, playfield]

# Up Post
  c_left_lane_up_post:
    number: playfield_board_lower-6
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 20          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.25     # INCREASED from 0.125 - needs more power to hold ball for 27 seconds
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
      pwm2_ms: 25000              # max amount of time this coil can be held (30 seconds for 27s timer + margin)
    label: "Left Lane Up Post"
    tags: [up post, playfield]
  c_left_mig_up_post:
    number: playfield_board_upper-6
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 20          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.25     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
      pwm2_ms: 2500               # max amount of time this coil can be held (0-25500ms) (0-25.5 seconds)
    label: "Left MIG Up Post"
    tags: [up post, playfield]
  c_right_mig_up_post:
    number: playfield_board_upper-7 
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 20          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.25     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
      pwm2_ms: 2500               # max amount of time this coil can be held (0-25500ms) (0-25.5 seconds)
    label: "Right MIG Up Post"
    tags: [up post, playfield]

# Lane Diverters
  c_left_orbit_diverter:
    number: playfield_board_mags_diverter_mechs-0 
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 50          # duration the coil is activated
    default_pulse_power: 1     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.375     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Left Orbit Diverter"
    tags: [lane diverter, playfield]
  c_right_orbit_diverter: 
    number: playfield_board_mags_diverter_mechs-1
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 50          # duration the coil is activated
    default_pulse_power: 1     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.375     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Right Orbit Diverter"
    tags: [lane diverter, playfield]

# Ejection Seat Magnet
# Coil: 511-5065-ND (4.3 ohms, 22 AWG, 650 turns)
# SAFETY: Multiple layers of protection against stuck-on condition
  c_ejection_seat_magnet:
    number: playfield_board_mags_diverter_mechs-2
    allow_enable: true                # REQUIRED for magnet hold
    default_pulse_ms: 15             # TUNABLE: Fling pulse duration (ms) - increased from 50
    default_pulse_power: 1.0          # TUNABLE: Fling pulse strength (0-1) - increased from 0.75
    default_hold_power: 0.375         # TUNABLE: Hold strength - MPF recommended for 511-5065-ND
    max_pulse_ms: 100                 # Safety limit on pulse duration
    max_pulse_power: 1.0
    max_hold_duration: 8s             # CRITICAL SAFETY: Software auto-disable after 8 seconds
    max_hold_power: 0.9              # Safety limit on hold power - increased to allow fling tuning
    platform_settings:
      recycle_ms: 100                 # Minimum time between activations
      pwm2_ms: 8000                   # CRITICAL SAFETY: FAST hardware auto-cutoff at 8 seconds
    label: "Ejection Seat Magnet"
    tags: [magnet, playfield, ejection]

# Mode Coils
  c_mode_barrier:
    number: playfield_board_upper-1
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 45          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.25     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Mode Barrier"
    tags: [barrier drop, playfield]
  c_mode_outkicker:
    number: playfield_board_upper-2
    default_pulse_ms: 35          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
    label: "Mode Outkicker"
    tags: [mode outkicker, playfield]

# Ramp Lift Coils - REMOVED (now using servos in config_servos.yaml)
# c_right_ramp_lifter and c_top_ramp_lifter deleted

# Lock Coils
  c_lock_release:
    number: playfield_board_lock_ramps_mechs-1
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 15          # duration the coil is activated
    default_pulse_power: 0.75     # percentage of coil power during initial pulse (0 - 1), factor of 1/8
    default_hold_power: 0.125     # factor of 1/8
    max_pulse_ms: none
    max_pulse_power: 1.0
    max_hold_duration: none
    max_hold_power: 1.0
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)       
      recycle_ms: 30              # suggested to start at about 2x the ms power
      pwm2_ms: 2500               # max amount of time this coil can be held (0-25500ms) (0-25.5 seconds)
    label: "Lock Release"
    tags: [lock release, playfield]
  c_lock_upkicker:
    number: playfield_board_lock_ramps_mechs-0
    default_pulse_ms: 20          # INCREASED from 15 - ball wasn't reaching lock
    default_pulse_power: 0.875    # INCREASED from 0.75
    max_pulse_ms: none
    max_pulse_power: 1.0
    platform_settings:
      recycle_ms: 40              # INCREASED from 30 (2x pulse_ms)
    label: "Lock Upkicker"
    tags: [lock upkicker, playfield]  

  # SAFETY: Conservative settings - magnet should never be on more than 3 seconds
  c_lock_diverter_magnet:
    number: playfield_board_mags_diverter_mechs-3
    allow_enable: true            # REQUIRED for action: enable in coil_player
    default_pulse_ms: 50          # INCREASED from 30 - match orbit diverters, longer initial grab
    default_pulse_power: 1.0      # INCREASED from 0.75 - match orbit diverters, full power grab
    default_hold_power: 0.375     # INCREASED from 0.25 - match orbit diverters, stronger sustain
    max_pulse_ms: 100             # Safety limit on pulse duration
    max_pulse_power: 1.0
    max_hold_duration: 4s         # CRITICAL SAFETY: Software auto-disable after 4 seconds (1s margin over 3s timer)
    max_hold_power: 0.5           # Safety limit on hold power
    platform_settings:            # minimum time between pulses for this coil (coil cool down time)
      recycle_ms: 50              # suggested to start at about 2x the ms power
      pwm2_ms: 4000               # CRITICAL SAFETY: FAST hardware auto-cutoff at 4 seconds
    label: "Lock Diverter Magnet"
    tags: [magnet, playfield, lock_diverter]

# Cabinet Board LED Drivers (Low Current)
# These are on the FP-I/O-0024 Cabinet I/O Board
# Wiring: V+ (or 5V) → LED (+) → LED (-) → Lx driver pin
# The driver SINKS to ground when enabled

  c_start_button_led:
    number: cabinet_board-3           # L3 on J1 (Cabinet Left), pin 12
    allow_enable: true
    default_pulse_ms: 10
    default_pulse_power: 1.0
    default_hold_power: 1.0
    label: "Start Button LED"
    tags: [cabinet, led]

  c_coin_door_led:
    number: cabinet_board-0           # L0 on J4 (Coin Door), pin 11
    allow_enable: true
    default_pulse_ms: 10
    default_pulse_power: 1.0
    default_hold_power: 1.0
    label: "Coin Door LED"
    tags: [cabinet, led]

coil_player:

# Cabinet LED Control
# Coin door LED - Always on when machine is running
  init_done:
    c_coin_door_led:
      action: enable

# Start button LED - Solid on during game (attract mode handles flashing)
  game_started:
    c_start_button_led:
      action: enable

  game_ended:
    c_start_button_led:
      action: disable

# Auto Shooter, Shooter Lane
  fire_autoplunger:
    c_plunger:
      pulse_ms: 30